li.list div, li.list a {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--branco-roxo);
    justify-content: center;
    font-size: 26px;
}

section.body-cart table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.space-total-cart {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.values-cart-final {
    font-size: 17px;
}

.total-value-cart {
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color-dark);
}

.descript-product {
    display: flex;
    flex-direction: column;
    width: 100%;
}

span.variacao-classe {
    font-size: 15px;
}

img.picture-item-on-cart {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: contain;
}


.qtd-product-space {
    padding: 20px 0;
    text-align: center;
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}

.qtd-product-btn {
    padding: 8px;
    background: var(--color-modest);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.qtd-number {
    font-size: 16px;
    padding: 0px 10px;
    border: solid 1px var(--clr);
    border-radius: 5px;
}

.qtd-product-btn {
    padding: 3px;
    background: var(--color-modest);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top: 0px;
}

.row-item-card {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
}

.row-item-card-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    column-gap: 15px;
}

.row-item-card-down {
    display: flex;
    align-items: center;
    font-size: 21px;
    column-gap: 15px;
    justify-content: space-between;
}

.card-banner-item {
    box-shadow: 0px 0px 7px #00000026;
    background: white;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 10px;
}

h2.title-cart {
    color: var(--clr);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-decoration: underline;
}

.delete-btn-item-cart {
    position: absolute;
    right: 10px;
    font-size: 26px;
    background: var(--red);
    padding: 3px;
    border-radius: 5px;
    color: var(--branco-roxo);
    cursor: pointer;
}