li.list div, li.list a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.body_checkout {
    padding-bottom: 40px;
}


.qtd-product-space {
    padding: 20px 0;
    text-align: center;
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}

.input-copia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 5px;
}

.input-copia input {
    position: relative;
}

label.label-copia-click {
    background: var(--blue-color);
    height: 35px;
    position: absolute;
    z-index: 1;
    right: 2px;
    border-radius: 0 5px 5px 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: var(--branco-roxo);
    cursor: pointer;
}

.space-input-copia{
    width: 100%;
    height: 35px;
    position: relative;
}

.qtd-product-btn {
    padding: 8px;
    background: var(--color-modest);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

button#form-checkout__submit {
    display: none;
}



.qtd-product-btn {
    padding: 3px;
    background: var(--color-modest);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top: 0px;
}

.space-form-checkout{
    display: none;
}

.type-payment {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

h4.title-type-pagto {border-bottom: solid 1px gray;margin-bottom: 12px;}

img.picture-card {
    width: 43px;
}
.division-details-payment {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.select-type-payment {
    padding-bottom: 10px;
}

img.img-qrcode-pix {
    margin: 0 auto;
    width: 60%;
    display: block;
    margin-top: 20px;
}

.inputs-form-creditcard {
    height: 30px;
    border: solid 1px;
}

form#form-checkout {
    padding: 10px;
    border-radius: 14px;
    margin: 10px;
}

.grid-form-card.grid-card-f {
    display: grid;
    grid-template-columns: 77% 20%;
    column-gap: 10px;
    align-items: center;
}

.grid-form-card.grid-card-scd {
    display: grid;
    grid-template-columns: 25% 72%;
    column-gap: 10px;
    align-items: center;
}

.grid-form-card.grid-card-thr {
    display: grid;
    grid-template-columns: 64% 33%;
    column-gap: 10px;
    align-items: center;
}

.email-card {
    width: 100%;
}

.select-card-parcelas {
    width: 100%;
}

span#valorcompra {
    width: 100%;
    display: block;
    text-align: center;
}

h2#checkout-title {
    text-align: center;
    padding: 20px 0;
}

.grid-form-card {
    margin-bottom: 10px;
}

.style-inputs-creditcard {
    background: white;
    padding: 0 10px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: solid 1px gray;
    font-size: 14px;
}

.grid-pix-space {
    display: inline-grid;
    width: 100%;
}