@import url('geral.css');


 /* TOP BAR - CABECALHO -  */
 .container-cabecalho-phone {
    background: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #efefef;
    box-shadow: 0px 1px 5px #e7e7e7;
}
.content-cabecalho {
    display: grid;
    justify-content: center;
    padding: 15px 16px;
    align-items: center;
    grid-template-columns: 10% 80% 10%;
}
.menu-phone i, .search-phone i {
    font-size: 2.4em;
    color: #333;
    cursor: pointer;
}
/* .img-logo-phone {
    width: 100px;
    max-height: 42px;
    object-fit: contain;
} */



/* PAGES AREA */

.content-pages {
    padding-top: 83px;
    height: calc(100vh - 75px);
    overflow-y: auto;
}


/* BOTTOMBAR MENUS */

.container-bottom-bar {
    background: transparent;
    border-radius: 35px 35px 0 0;
    position: fixed;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid #efefef;
    box-shadow: 0px -1px 5px #e7e7e7;
}

.content-bottom-bar ul {
    display: grid;
    width: 100%;
    grid-template-columns: 98%;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}

.content-bottom-bar ul li {
    position: relative;
    list-style: none;
    /* width: 70px; */
    height: 80%;
    z-index: 1;
}

.content-bottom-bar ul li a .text {
    /* position: absolute; */
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    /* letter-spacing: 0.05em; */
    /* transition: 0.5s; */
    /* opacity: 0; */
    /* transform: translateY(20px); */
}

.content-bottom-bar ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.logo-phone {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    50%  {transform: translate3d(0,10%,0) scale3d(.9,1,1);}
    100% {transform: translate3d(0,25%,0) scale3d(1,.9,1);}
  }
  .icon-btn-search {
    transform-origin: 50% 50%;
    animation: jump .5s linear alternate infinite;
  }

  .btn-add-to-cart {
    background: var(--green-preco);
    border-radius: 10px;
    width: 100%;
    padding: 13px 27px;
    cursor: pointer;
    font-size: 23px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-add-to-cart span {
    font-weight: 600;
    color: var(--clr);
}

.go-to-cart {
    background: var(--blue-color);
    display: flex;
    border-radius: 10px;
    color: var(--branco-roxo);
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}

.menu-phone {
    position: relative;
}

span.circle-qtd-itens-cart {
    position: absolute;
    top: -12px;
    right: -14px;
    background: red;
    border-radius: 50%;
    text-align: center;
    color: var(--branco-roxo);
    padding: 0px 7px;
}
.container-cart {
    padding: 0 5px;
}